.Itinerary h2 {
    margin-bottom: 8px;
}

.itinerary-card {
    display: block;
    max-width: 550px;
    margin: 40px auto;
    padding: 24px 0;
    background: var(--bg-white);
    border-radius: 32px;
    padding: 16px 20px;
    box-shadow: var(--box-shadow);
}

.day-line {
    font-weight: 700;
}

.itinerary-days {
    display: grid;
    gap: 16px;
}

.day-card {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid gray;
}

.day-card p {
    white-space: pre-line;
}

.day-card h3 {
    margin-bottom: 8px;
}