.user-input {
    margin: 32px 0;
    padding: 24px 32px;
    border: 1px solid gray;
    border-radius: 32px;
}

label, legend {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}

input, select, textarea {
    display: block;
    margin: 0 auto 16px auto;
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid #c5c5c5;
}

textarea {
    height: 50px;
    width: 360px;
    resize: none;
}

button {
    display: block;
    margin: 16px auto 0 auto;
    padding: 16px 24px;
    border-radius: 32px;
    border: none;
    background-color: #373737;
    color: #fff;
}

